[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | htmlcov
)/
'''

[tool.isort]
profile = "black"
line_length = 88
skip = ["migrations", ".venv", "htmlcov", "node_modules"]

[tool.flake8]
max-line-length = 88
extend-ignore = ["E203", "W503", "E501"]
exclude = [
    ".git",
    "__pycache__",
    "migrations",
    ".venv",
    "htmlcov",
    "build",
    "dist",
    "node_modules"
]

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
ignore_missing_imports = true
exclude = [
    "migrations/",
    "htmlcov/",
    ".*/tests/.*"
]

[tool.vulture]
exclude = [
    "migrations",
    "htmlcov",
    "tests"
]
min_confidence = 80
